<a href="https://colab.research.google.com/github/gauravvojha/Cognifyz_DataScience_tasks/blob/main/task2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

# Load the dataset

In [11]:
df = pd.read_csv('/content/sample_data/restaurant_data.csv')

# Display the first few rows of the dataframe to understand its structure

In [12]:
print(df.head())

   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...          Currency Has Table booking  \
0        French, Japanese, Desserts  ...  Botswana Pula(P)               Yes
1                          Japanese  ...  Botswana Pula(P)               Yes
2  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)               Yes
3                   Japanese, Sushi  ...  Botswana Pula(P)                No
4                  Japanese, Korean  ...  Botswana Pula(P)               Yes

  Has Online delivery Is delivering now Switch to order menu Price range  \
0                  No                No                   No           3
1                  No                No                   No           3
2                  No                No                   No           4
3                  No                No                   No           4
4                  No                No                   No           4

   Aggregate rating  Rating color Rating text Votes
0               4.8    Dark Green   Excellent   314
1               4.5    Dark Green   Excellent   591
2               4.4         Green   Very Good   270
3               4.9    Dark Green   Excellent   365
4               4.8    Dark Green   Excellent   229

[5 rows x 21 columns]

# Task 1: Extract additional features

In [15]:
df['name_length'] = df['Restaurant Name'].apply(len)

# Length of the address

In [16]:
df['address_length'] = df['Address'].apply(len)

In [18]:
print("First few rows with new length features:")
print(df[['Restaurant Name', 'name_length', 'Address', 'address_length']].head())

First few rows with new length features:
          Restaurant Name  name_length  \
0        Le Petit Souffle           16
1        Izakaya Kikufuji           16
2  Heat - Edsa Shangri-La           22
3                    Ooma            4
4             Sambo Kojin           11

                                             Address  address_length
0  Third Floor, Century City Mall, Kalayaan Avenu...              71
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...              67
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...              56
3  Third Floor, Mega Fashion Hall, SM Megamall, O...              70
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...              64

# Task 2: Create new features by encoding categorical variables

In [20]:
df['has_table_booking'] = df['Has Table booking'].apply(lambda x: 1 if x == 'Yes' else 0)

# "Has Online Delivery"

In [21]:
df['has_online_delivery'] = df['Has Online delivery'].apply(lambda x: 1 if x == 'Yes' else 0)

In [23]:
print("First few rows with new binary features:")
print(df[['Has Table booking', 'has_table_booking', 'Has Online delivery', 'has_online_delivery']].head())

First few rows with new binary features:
  Has Table booking  has_table_booking Has Online delivery  \
0               Yes                  1                  No
1               Yes                  1                  No
2               Yes                  1                  No
3                No                  0                  No
4               Yes                  1                  No

   has_online_delivery
0                    0
1                    0
2                    0
3                    0
4                    0

# Save the dataframe with new features to a new CSV file

In [24]:
df.to_csv('restaurant_data_with_features.csv', index=False)